<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UserInfoMapper">

    <!-- 【個人開発5】新規登録 -->
    <insert id="save">
        INSERT INTO users
            (id, name, email, password, created_at, updated_at)
        VALUES
            (#{id}, #{name}, #{email}, #{password}, CREATED_TIMESTAMP, UPDATED_TIMESTAMP)
    </insert>
</mapper>